{% extends "appBlog/padre.html" %}
{% load static %}

{% block section_name %}
<h1 class="fw-bolder">Sobre Mi</h1>
{% endblock %}

{% block contenidoQueCambia %}
<aside class="text-right">
    <div class="container px-5">
        <div class="row gx-5 justify-content-right">
            <div class="col-xl-11">
                <h2>&#x1f4bb SITIO<br></h2>
                <br>
                <p>Este sitio web es la entrega final del curso de Pyhton de CoderHouse. El sitio es un blog para postear reseñas de cafeterias de Buenos Aires. </p>
                <p>Para más información leer el README.md en el repositorio de GitHub donde se encuentra almacenado. <a href="https://github.com/sabrialmada/ProyectoFinalCoder">Leer más...</a></p>
                <br><br>
                <h2>&#x1f4ac CERCA DE MI<br></h2>
                <br>              
                <p>Mi nombre es Sabrina Almada y vivo en Buenos Aires. Actualmente estudio la Tecnicatura en Programacion en la UTN. </p>
                <br>
                
            </div>
        </div>
    </div>
</aside>
{% endblock %}

{% block contenidoQueNo %}

{% endblock %}