{% extends "appBlog/padre.html" %}
{% load static %}

{% block section_name %}
<h1 class="fw-bolder">Sobre Mi</h1>
{% endblock %}

{% block contenidoQueCambia %}
<aside class="text-right">
    <div class="container px-5">
        <div class="row gx-5 justify-content-right">
            <div class="col-xl-11">
                <h2>&#x1f4bb CONTACTO<br></h2>
                <br>
                <p>Email: sabrialmada1313@gmail.com </p>
                <br><br>
            </div>
        </div>
    </div>
</aside>
{% endblock %}

{% block contenidoQueNo %}

{% endblock %}